<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.App"
        android:usesCleartextTraffic="true">
        <activity
            android:exported="true"
            android:name="com.example.myapplication.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:exported="true"
            android:name="com.example.myapplication.WelcomeActivity">
        </activity>
        <activity
            android:exported="true"
            android:name="com.example.myapplication.LogInProfessional">
        </activity>

        <activity
            android:exported="true"
            android:name="com.example.myapplication.SignUpProfessional">
        </activity>
        <activity
            android:exported="false"
            android:name="com.example.myapplication.GeneralFragmentActivity">
        </activity>

        <activity
            android:exported="false"
            android:name="com.example.myapplication.ProfessionalFragmentActivity">
        </activity>
        <activity
            android:exported="false"
            android:name="com.example.myapplication.StudentProfileActivity">
        </activity>
        <activity
            android:exported="false"
            android:name="com.example.myapplication.MoodActivity">
        </activity>
        <activity
            android:exported="false"
            android:name="com.example.myapplication.StudentSignUpActivity">
        </activity>
        <service android:name="com.example.myapplication.chat.WebSocketService">
        </service>
        <activity
            android:exported="false"
            android:name="com.example.myapplication.chat.CreateChatActivity"/>
        <activity
            android:name=".ProfessionalProfileActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".UpdateResourceActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".CreateResourceActivity"
            android:exported="false">
        </activity>
        <activity
            android:exported="false"
            android:name="com.example.myapplication.chat.ChatActivity">
        </activity>
        <activity
            android:exported="false"
            android:name="com.example.myapplication.chat.ChatInfoActivity">
        </activity>
        <activity
            android:exported="false"
            android:name="com.example.myapplication.chat.AddMemberActivity">
        </activity>
    </application>

</manifest>